@page "/"
@using Fyro.Web.Blazor.Client.Shared
@using Microsoft.Extensions.Options
@using Radzen.Blazor
@using Radzen
@inject IOptions<MappingOptions> mappingOptions

<h1>Hello, world!</h1>

Welcome to your new app.

<RadzenGoogleMap style="height: 400px" Zoom=@zoom Center=@(new GoogleMapPosition() { Lat = 42.6977, Lng = 23.3219 }) ApiKey="" MapClick=@OnMapClick MarkerClick=@OnMarkerClick>
    <Markers>
        <RadzenGoogleMapMarker Title="London" Label="London" Position=@(new GoogleMapPosition() { Lat = 51.5074, Lng = 0.1278 }) />
        <RadzenGoogleMapMarker Title="Paris " Label="Paris" Position=@(new GoogleMapPosition() { Lat = 48.8566, Lng = 2.3522 }) />
        @if (showMadridMarker)
        {
            <RadzenGoogleMapMarker Title="Madrid " Label="Madrid" Position=@(new GoogleMapPosition() { Lat = 40.4168, Lng = -3.7038 }) />
        }
    </Markers>
</RadzenGoogleMap>

<InputFile OnChange="@HandleSelected" multiple />
@if (ImgUrl != null)
{
    <div>
        <img src="@ImgUrl" style="width:300px" />
    </div>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    protected override void OnInitialized()
        {

        }
}
